@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand-Regular.otf);
}

*, html {
    font-family: 'Quicksand', Arial, sans-serif;
}

body {
    font-size: 1.5vh;
    text-align: center;
}

a {
    color: #8dc63f;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #8dc63f;
    outline: none;
    text-decoration: none;
}

#header {
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 50px;
    z-index: 12;
}

#header nav {
    position: relative;
}

.logo {
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: -12px;
    z-index: 1;
}

#hero {
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 620px;
    background-image: url(/images/full_image_1.jpg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2a2d36;
    opacity: .54;
    z-index: 9;
}

.intro {
    display: table;
    width: 100%;
    z-index: 10;
    position: relative;
    height: 620px;
}

.intro-text {
    vertical-align: middle;
    display: table-cell;
}

.center-position {
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

.mainTitle {
    color: rgb(255, 255, 255);
    font-family: Roboto, Arial, sans-serif;
    font-size: 70px;
    font-weight: 100;
    line-height: 87px;
    margin-bottom: 30px;
    text-align: center;
}

.subTitle {
    color: rgb(255, 255, 255);
    font-family: Roboto, Arial, sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 45px;
    margin-bottom: 30px;
    text-align: center;
}

.text {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.bottomButton {
    position: absolute;
    bottom: -25px;
    left: calc(50% - 50px);
    z-index: 12;
    text-align: center;
}

.arrow {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: #8dc63f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.arrow i {
    top: 10px;
    position: relative;
    color: #fff;
    vertical-align: middle;
}

.invisible {
    visibility: hidden;
}

.pageContent {
    padding: 50px 0;
    background-color: white;
    border-bottom: 2px solid #e7e7e7;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}

.navButton {
    float: left;
    font-size: 1.7vmin;
    border: 2px solid #aaaaaa;
    margin: 0 -2px 0 0;
    cursor: pointer;
    background-color: white;
    color: #aaaaaa;
    padding: 1.5vmin 1vmin;
    transition: .2s;
}

.navButton:hover{
  color: #aaaaaa;
  border-color: #aaaaaa;
  background-color: #efefef;
}

.navButton.selected{
  color: black;
  border-color: black;
  background-color: #eeeeee;
}

.navButton.selected:hover{
  color: #aaaaaa;
  border-color: #aaaaaa;
}

.clickable {
    transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    cursor: pointer;
}

.clickable:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.title {
    text-align: center;
    font-size: 3vh;
    margin: 2vh;
    font-weight: 400;
}
.shareInfo{
  text-align: center;
}
.shareInfo span{
  width: 30%;
  display: inline-block;
}
.message {
    margin: 2vh;
    font-size: 2vh;
    color: #777;
    text-align: center;
}

.page {
    width: 80%;
    display: inline-block;
    text-align: left;
    min-width: 320px;
}

input, select, button {
    padding: 1vh;
    font-size: 1.5vh;
    border: 2px solid #e7e7e7;
}

.form div span {
    float: left;
    width: 18vh;
    margin-right: 2vh;
    line-height: 4vh;
    pointer-events: none;
    font-size: 1.25vh;
}
form div span a {
    pointer-events: all;
}

.achAgreement {
    text-align: left;
    font-size: 1.25vh;
    background-color: #e7e7e7;
    padding: 1vh;
    border-radius: 1vh;
}
.form div input, form div select {
    width: calc(100% - 20vh);
    float: left;
}

.form div input:focus, form div select:focus {
    border: 2px solid #e7e7e7;
}

.form div input:active, form div select:active {
    border: 2px solid #e7e7e7;
}

.investNavigation {
    display: inline-block;
}

.form div input[type='checkbox'] {
    width: 1.75vh;
    height: 1.75vh;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 1.25vh 1.25vh 0;
}

.form div input.col3 {
    width: calc(33.33333333333333333% - 9vh);
    margin-right: 2vh;
    display: inline-block;
}

.form button {
    float: right;
    margin-left: 1vh;
}

.form button.submit {
    background-color: #4CAF50;
    color: white;
    border: 2px solid transparent;
}

.page .form div {
    float: left;
    width: 100%;
    margin: 1vh 0;
}

.page.page6 {
    margin-top: 5vh;
}

h1, h2, h3, h4, h5, h6 {
    color: #484c50;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}
.row-bottom-padded-md {
    padding-bottom: 4em;
}
#fh5co-footer {
    background-color: #fff;
    padding: 7em 0;
    padding-bottom: 0;
}
.fh5co-social {
    padding: 0;
    margin: 0;
}
.fh5co-social li {
    padding: 0;
    margin: 0;
    display: inline;
}
#fh5co-footer a {
    color: #6a7885;
}
.fh5co-social li a {
    padding: 4px 7px;
    font-size: 22px;
}
.fh5co-social li a:hover {
    text-decoration: none !important;
    color: #8dc63f !important;
}

#fh5co-footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    #fh5co-footer .fh5co-footer-widget {
        margin-bottom: 30px;
        float: left;
        width: 100%;
    }
}

#fh5co-footer .fh5co-footer-widget h3 {
    font-size: 18px;
    font-weight: 400;
}

#fh5co-footer .fh5co-footer-widget .fh5co-links {
    padding: 0;
    margin: 0;
}

#fh5co-footer .fh5co-footer-widget .fh5co-links li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 15px;
    line-height: 24px;
}

#fh5co-footer .fh5co-footer-widget .fh5co-links li a {
    color: #6a7885;
}

#fh5co-footer .fh5co-footer-widget .fh5co-links li a:hover {
    text-decoration: underline;
}

#fh5co-footer .fh5co-copyright {
    border-top: 1px solid #f0f2f3;
    padding: 40px 0;
}

#fh5co-footer .fh5co-copyright a {
    font-weight: 700;
}

#fh5co-footer .fh5co-copyright p {
    margin-bottom: 0;
}

#fh5co-footer .fh5co-copyright p small {
    font-size: 15px;
}

#fh5co-footer .fh5co-copyright .fh5co-left {
    float: left;
}

#fh5co-footer .fh5co-copyright .fh5co-right {
    float: right;
}
