'.text.html':
  'Site UI Header':
    'prefix': 'xy-site-header'
    'body': '''
      <!-- xy-site-header - snippet - start -->
        <header id="header">
            <nav class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header" style="margin-right:0">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-xs" href="/">
                            <img src="/img/XYFindables_Small.png" alt="logo">
                        </a>

                        <a class="navbar-brand visible-xs" href="/">
                            <img src="/img/XYFindables_logo-retina.png" alt="logo" style="width: 200px;">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="text-center"><a href="#" onclick="Calendly.showPopupWidget('https://calendly.com/investxy/call/');return false;">Schedule an Overview Call</a></li>
                            <li class="text-center fb-share-button" data-href="https://www.xyfindables.com/invest" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="btn btn-lg readmore fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.xyfindables.com%2Finvest%3Fchannel=fb&amp;src=sdkpreparse" style="border-radius: 0px;">Share</a></li>
                            <li class="text-center"><a href="/invest/apply">Invest Online Now</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
        </header>
        <div class="banner" style="background: url(/img/website_banner.jpg) no-repeat center center;background-size:cover; height:420px; margin-bottom:25px">
            <div class="container">
                <div class="row" style="margin-top:85px">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <h2 style="color:white;font-weight:600">Find it. Fund It. Own It.</h2>
                            <div style="font-size: 14px;color:white;margin-top:-20px">XY Findables<sup>TM</sup> is in <b>live offering mode</b> and is actively accepting <b>Title IV</b> investments</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:200px">
                    <div class="col-sm-12">
                        <div class="carousel-content pull-right" style="border-radius:2px; background:#ccc;padding:5px;border: solid 1px">
                            Call Now: <a href="tel:7609320208" style="color:#5c5c5c;font-weight:500">(760) 932-0208 <span class="glyphicon glyphicon-phone"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- xy-site-header - snippet - end -->
    '''
